p{
    font-family:roboto, arial;
    margin-top:0;
    margin-bottom:0;
    color: black;
}

a{
    text-decoration: none;
}

body{
    margin: 0;
    padding-top:120px;
    padding-left:80px;
    padding-right:24px;
   
    
}

